@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Dosis:wght@300 & display = swap');
@font-face {
    font-family: Title;
    src: url(fonts/IceCaps.ttf);
}

:root{
    --yellow: #F7FF58;
    --snow: #FBFBFF;
    --blackout: #040F16;
    --dosis: 'Dosis', sans-serif;
    --contrail:'Contrail One', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #04A777;
    margin-bottom: 160px;
    max-width: 100vw;
    color: white;
}

header > h1{
    font-family: Title, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

menu{
    background-color: #05C78D;
    padding: 20px;
    max-width: 100vw;
}

menu > ul{
    margin-left: 20px;
    font-size: 20px;
    font-family: var(--dosis);
    font-weight: bold;
    color: white;
}

menu > ul > li{
    padding: 5px;
}

li > a{
    text-decoration: none;
    color: #FBFBFF;
}

li > a:

