@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Dosis:wght@300 & display = swap');
@font-face {
    font-family: Title;
    src: url(fonts/IceCaps.ttf);
}

:root{
    --yellow: #F7FF58;
    --snow: #FBFBFF;
    --blackout: #040F16;
    --dosis: 'Dosis', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #04A777;
    margin-bottom: 140px;
    max-width: 100vw;
    color: white;
    height: 20vh;
}

header > img{
    display: block;
    width: 32px;
}

header > h1{
    font-family: Title, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
}

menu{
    background-color: #05C78D;
    padding: 20px;
    max-width: 100vw;
    display: none;
}

menu > ul{
    margin-left: 20px;
    font-size: 20px;
    font-family: var(--dosis);
    font-weight: bold;
    color: white;
}

menu > ul > li{
    padding: 5px;
}

li > a{
    text-decoration: none;
    color: #FBFBFF;
}

li > a:hover{
    color: #03583e;
    text-decoration: underline;
}

#menu-button{
    background-color: #03583e00;
    border: none;
    color: white;
    font-size: 40px;
    margin-left: 15px;
    margin-bottom: 12px;
}

main{
    text-align: center;
}

form{
    margin: 40px;
    font-family: var(--dosis);
    
}

form > h2{
    padding: 20px;
}

.unidades, .res-unidades{
    height: 20px;
    width: 20px;
}

label{
    font-size: 22px;
    padding: 12px;
}

#graus{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #03583e;
    color: #03583e;
    font-size: 18px;
}

#submit{
    font-family: var(--dosis);
    font-size: 17px;
    padding: 6px;
    width: 120px;
    background-color: #03583e;
    color: white;
    border-radius: 12px;
    border: none;
}

#submit:hover{
    background-color: white;
    color: #03583e;
    border: 2px solid
    #03583e;
}

#submit:active{
    width: 117px;
    padding: 4px;
}

#res{
    margin: 90px;
    padding: 12px;
    font-family: var(--dosis);
    font-size: 22px;
    background-color: #03583e;
    color: white;

}

footer{
    margin-top: 80px;
    padding: 10px;
    border: 4px solid #03583e;
    font-size: 16px;
    font-family: var(--dosis);
}

footer > ul{
    padding: 25px;
}

footer > ul > li > a{
    color: rgb(193, 90, 152);
    font-size: 19px;
}