

main{
    margin: auto;
    width: 85vw;
    
}

main > h2{
    font-family: var(--dosis);
    font-size: 26px;
    text-align: center;
    margin: 30px;
}

main > p{
    font-family: var(--dosis);
    font-size: 18px;
    text-indent: 1em;
    text-align: start;
    padding: 25px;
    word-spacing: .3em;
}

div > img{
    display: block;
    margin: auto;
    padding: 40px;
}

footer{
    margin-top: 80px;
    padding: 10px;
    border: 4px solid #03583e;
    font-size: 16px;
    font-family: var(--dosis);
}

footer > ul{
    padding: 25px;
}

footer > ul > li > a{
    color: rgb(193, 90, 152);
    font-size: 19px;
}