@media screen and (min-width:900px){
    header > h1{
        font-size: 60px;
    }

    #menu-button{
        display: none;
    }

    #links-menu{
        display: none;
    }

    #menu-desktop{
        display: in;
        padding: 12px;
        width: 100vw;
    }

    #menu-desktop > a{
        color: white;
        padding: 12px;
        font-size: 18px;
        text-decoration: none;
        background-color: #03583e;
    }
}